main{
	color: #bc6c25;
	background-color: #FAEDCD;
	display: grid;
	width: 800px;
	height: 600px;
	grid-template-rows: 100px;
	
}
#factDisplay{
	padding: 5px;
	font-size: 25px;
	border: 10px solid #D4A373;
	
}
form{
	font-size: 15px;
	border: 5px solid #D4A373;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	background-color: #CCD5AE;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FEFAE0;
}
input{
	background-color: #CCD5AE;
	color: #bc6c25;
}
img{
	width: 500px;
	padding: 5px;
}
